<!-- Create a footer with Bootstrap as a template -->
<section id="footer">
    <div class="container">
        <footer class="d-flex flex-wrap sticky-bottom justify-content-center align-items-center py-3 border-top text-center">
            <p class="col-md-4 mb-0 text-body-white">© Matthew Barhou 2023</p>
        
            <a href="/"
                class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                <img src="/images/logo.png" class="nav-logo" alt="MB Initials" width="100" height="50">
            </a>
        
            <ul class="nav col-md-4 justify-content-center">
                <li class="nav-item"><a href="/" class="nav-link px-2 text-body-white">Home</a></li>
                <li class="nav-item"><a href="/services" class="nav-link px-2 text-body-white">Services</a></li>
                <li class="nav-item"><a href="/projects" class="nav-link px-2 text-body-white">Projects</a></li>
                <li class="nav-item"><a href="/contact" class="nav-link px-2 text-body-white">Contact</a></li>
                <li class="nav-item"><a href="/about" class="nav-link px-2 text-body-white">About</a></li>
            </ul>
        </footer>
    </div>
    </body>
    </html>
</section>
