<%- include("partials/header"); -%>

    <div class="container">
        <!--  A small description about myself -->
        <div class="px-4 pt-5 my-5 text-center border rounded-3 shadow-md border-bottom">
            <h1 class="display-4 fw-bold text-body-light">Who I am...</h1>
            <div class="col-lg-6 mx-auto">
                <p class="lead mb-4">My name is <b>Matthew Barhou</b>. I am an aspiring Software Engineer who is
                    currently
                    enrolled into the Software Engineering Technology program
                    at Centennial College. My goal is to continue learning about the latest technologies and to apply my
                    knowledge to real world projects.
                </p>
            </div>
            <div class="overflow-visible" style="max-height: 50vh;">
                <div class="container px-5">
                    <!-- Headshot image of myself -->
                    <img src="/images/headshot.JPG" class="img-fluid border rounded-3 shadow-lg mb-4"
                        alt="Example image" width="300" height="200" loading="lazy">
                </div>
                <a href="https://drive.google.com/file/d/155DiMWTaWCZazxkZCWeekRjPD9r1KpOs/view?usp=sharing"
                    target="_blank"><button type="button" class="btn btn-light mb-4">Check out my resume!</button></a>
            </div>
        </div>
    </div>

    <%- include("partials/footer"); -%>