<%- include("partials/header"); -%>

    <div class="container-fluid">
        <!-- Homepage hero section that welcomes the user  -->
        <div class="px-4 py-5 text-center">
            <img class="d-block mx-auto mb-4" src="/images/home-gif.gif" alt="" style="border-radius: 3rem;" width="500"
                height="400">
            <h1 class="display-5 fw-bold text-white-emphasis">Welcome to my page!</h1>
            <div class="col-lg-6 mx-auto">
                <p class="lead mb-4">Welcome to my corner of the digital world! I'm thrilled to have you here. I'm
                    Matthew
                    Barhou, a passionate junior developer
                    with a burning curiosity for all things tech. As someone who constantly seeks to learn and grow in
                    this
                    ever-evolving
                    field, I'm excited to share my journey with you. Whether you're a fellow developer, a tech
                    enthusiast, or
                    just curious
                    about what I'm up to, this is the place where we can connect, explore, and discuss the fascinating
                    world of
                    coding and
                    technology.</p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    <!-- Two buttons that link to the about.ejs and projects.ejs pages -->
                    <a href="/about">
                        <button type="button" class="btn home-btn btn-lg px-4 gap-3">About me</button>
                    </a>
                    <a href="/projects">
                        <button type="button" class="btn home-btn btn-lg px-4">Projects</button>
                    </a>
                </div>
            </div>
        </div>

    </div>






    <%- include("partials/footer"); -%>