<%- include("partials/header"); -%>
    <!-- Images of services I can offer -->
    <section id="services">
        <div class="album py-5">
            <div class="container">
                <h1>Services I Offer...</h1>
                <hr>

                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="/images/front-end.jpg" alt="Frontend services">
                            <div class="card-body">
                                <p class="card-text">I'm passionate about turning ideas into beautiful and intuitive web
                                    designs, even as a beginner. With a focus on
                                    simplicity and user experience, I ensure every website I create is user-friendly and
                                    responsive, marking a confident
                                    step into the digital world</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="/images/general.jpg" alt="Backend services">
                            <div class="card-body">
                                <p class="card-text">I specialize in crafting efficient and scalable backend solutions
                                    using Java and C#. With a solid foundation in these
                                    powerful programming languages, I ensure the core logic of your applications is
                                    robust and reliable. My focus is on
                                    creating secure, fast, and efficient backend systems that seamlessly power the
                                    front-end, ensuring an optimal user
                                    experience.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="/images/sql.jpg" alt="SQL service">
                            <div class="card-body">
                                <p class="card-text">I excel in offering SQL services, ensuring your data is structured,
                                    managed, and retrieved efficiently. With a keen eye
                                    for detail, I design databases that are not only robust but also optimized for
                                    performance. My expertise in SQL ensures
                                    that your data is accessible, secure, and integral, supporting the seamless
                                    operation of your applications.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>


    <%- include("partials/footer"); -%>