/*Matthew Barhou, 301193037, 2023-09-09 */

body {
  height: 100vh;
  background-image: url("/images/starfall.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  background-attachment: fixed;
}

.nav-link {
  color: rgb(183, 176, 176);
  font-size: 24px;
}

.nav-link:hover {
  color: #fff;
}

.nav-logo {
  border-radius: 3rem;
  margin-left: 4rem;
}

.home-btn {
  background-color: #888a89;
  color: #fff;
}

.home-btn:hover {
  background-color: black;
  color: #fff;
}
